body {
    background-color: #b8b8b8;
}

.container {
    width: 800px;
    height: 400px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #b8b8b8;
}

.side-left{
    /* box-shadow: 0vh 0.2vh 0vh .8vh rgb(158, 18, 42); */
    background: linear-gradient(to right, #DC0A2D, #DC0A2D, tomato, #DC0A2D, #89061C 90%);
    border-radius: 10px;
    /* width: 600px; */
    height: 400px;
}

/* Circle define os circulos no topo direito da pokedex */
#bigCircle {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: black solid 1px;
    background-color: white;
    box-shadow: inset 2px 2px 3px 3px gray
}

#blueCircle {
    position: absolute;
    left: 3px;
    top: 1px;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: blue;
}

#whiteCircle {
    position: absolute;
    left: 15px;
    top: 2px;
    height: 13px;
    width: 13px;
    border-radius: 20px;
    background-color: white;
}

#redDot {
    position: absolute;
    left: 70px;
    top: 20px;
    border-radius: 6px;
    height: 10px;
    width: 10px;
    border: black solid 1px;
    background-color: red;
}

#yellowDot {
    position: absolute;
    left: 90px;
    top: 20px;
    border-radius: 6px;
    height: 10px;
    width: 10px;
    border: black solid 1px;
    background-color: yellow;
}

#greenDot {
    position: absolute;
    left: 110px;
    top: 20px;
    border-radius: 6px;
    height: 10px;
    width: 10px;
    border: black solid 1px;
    background-color: lightgreen;
}

.blackTriangle{
    position: absolute;
    right: 6px;
    bottom: 3px;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 22px solid black;
    cursor: pointer;
}

/*Mostra todos o pokemons com paginação  */
.box-pok {
    background-color: #b8b2b2;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 5px;
    height: 300px;
    border: 1px solid black;
    overflow-y: scroll;

}

/* Exibe os pokemons dentro do status */
.poke {
    cursor: pointer;
    background-color: rgb(96, 141, 180);
    box-shadow: -.5vh .5vh .5vh .3vh rgba(0, 0, 0, 0.2) inset,
        0vh 0vh 3vh 1vh rgb(185, 183, 183);
    border: 1px solid lightgray;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Exibe os pokemons dentro do box-pok */
.pok {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    left: 15px;
    height: 80px;
    background-color: rgb(96, 141, 180);
    box-shadow: -.5vh .5vh .5vh .3vh rgba(0, 0, 0, 0.2) inset,
        0vh 0vh 3vh 1vh rgb(185, 183, 183);
    border: 1px solid lightgray;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 10px;
}

.pok::after {
    content: "";
    border-top: 15px solid rgb(255, 255, 255);
    border-left: 15px solid #b8b2b2;
    height: 0;
    position: absolute;
    bottom: -.5px;
    left: -1px;
}

/* ========================================================================================================= */
/* Articulação no centro da pokedex */
.col-eixo {
    flex-grow: unset;
    color: #DC0A2D;
    border: #DC0A2D;
    background: linear-gradient(to right,#DC0A2D,#DC0A2D, tomato,#DC0A2D,#89061C 90%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

 .col-eixo:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 40vh;
    border-top: .3vh solid #89061C;
    border-bottom: .3vh solid #89061C;
    right: -0.2vh;
    background: linear-gradient(to right, #89061C, #DC0A2D, tomato, #DC0A2D, #89061C);
    height: 5vh;
    width: 4.8vh;
    z-index: 1;
}

.col-eixo:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 11vh;
    border-top: .3vh solid #89061C;
    border-bottom: .3vh solid #89061C;
    background: linear-gradient(to right, #89061C, #DC0A2D, tomato, #DC0A2D, #89061C);
    right: -0.2vh;
    height: 5vh;
    width: 4.8vh;
    z-index: 1;
}
/* ========================================================================================================= */
/* Lado direito da pokedex */
.side-right {
    background: linear-gradient(to right, #DC0A2D, #DC0A2D, tomato, #DC0A2D, #89061C 90%);
    height: 400px;
    border-radius: 10px;
    display: none;
}


.col-sm-10 {
    margin-top: 70px;
    margin-left: 40px;
    padding: 10px;
    width: 250px;
    height: auto;
}

/*Exibe pokemon no lado direito  */
.box-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    padding: 10px;
    /* width: 250px; */
    height: 150px;
}


#shiny_f {
    position: absolute;
    bottom: 60px;
    left: 200px;
    font-size: 0.7em;
}
#shiny_b {
    position: absolute;
    bottom: 30px;
    left: 200px;
    font-size: 0.7em;
}
#front {
    position: absolute;
    bottom: 120px;
    left: 200px;
    font-size: 0.7em;
}
#back {
    position: absolute;
    bottom: 90px;
    left: 200px;
    font-size: 0.7em;
}

.btn-img{
    width: 50px;
    height: 30px;
}

.page-item {
    margin-left: 20%;
}

nav {
    width: 400px;
}


#screen {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 10px 30px;
    border: black solid 1px;
    height: 160px;
    width: 200px;
    background-color: lightgray;
    box-shadow: inset 2px 1px 2px 2px #b8b2b2
}

#redButton1 {
    left: 80px;
    top: 7px;
}

#redButton2 {
    left: 110px;
    top: 7px;
}

#display {
    height: 110px;
    width: 178px;
    border-radius: 0 0 0 20px;
    background-color: black;
    color: white;
    position: relative;
    top: 22px;
    left: 12px;
    color: #000;
}
/* ========================================================================================================= */

#pokbola{
    position: relative;
    top: 10%;
    left: 25%;
}

/* Classe que deixa o text visivel no display */
.textGreen{
    font-size: 1em;
    color: #30da0c;
    display: none;    
}

.redButton {
    border: black solid 1px;
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
}

#redCircle {
    height: 10px;
    width: 10px;
    bottom: 13px;
    left: 13px;
}
/* ========================================================================================================= */
/* Tampa da pokedex */
.cover{
    position: relative;
    left: -335px;
    width: 400px;
    background: linear-gradient(to right, #DC0A2D, #DC0A2D, tomato, #DC0A2D, #89061C 90%);
    z-index: 10;
    border-radius: 10px;
    display: block;
    transition-duration: 1s;
    
}

div#logo{
    position: relative;
    top: 100px;
    background: url("logo.png") no-repeat left center;
    height: 90px;
}

/* .cover:hover {
    transform: translateX(300px) rotateY(180deg);  
} */

#yellowTriangle {
    position: absolute;
    margin: 50% 4px;
    width: 0; 
    height: 0; 
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;  
    border-left:22px solid black; 
    cursor: pointer;
}

#innerTriangle {
    position: relative;
    top: -20px;
    right: 21px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid yellow;
}

.cover:hover #innerTriangle {
    visibility: hidden;
}

#yellowTriangleR {
    position: absolute;
    right: 0;
    bottom: 0px;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;  
    border-right:22px solid black; 
    cursor: pointer;
}
/* ========================================================================================================= */

#one {
    display: flex;
    position: relative;
    cursor: pointer;
    left: -10px;
    color: white;
    align-items: center;
    justify-content: center;
}

#two {
    display: flex;
    position: absolute;
    cursor: pointer;
    left: 100px;
    bottom: 0px;
    color: white;
    align-items: center;
    justify-content: center;
}

.blackButton {
    height: 35px;
    width: 90px;
    background-color: black;
    border-radius: 5px;
  }
  

.btn-modal{
    display: flex;
    position: relative;
    top: 10px;
    left: 50px;
}

div#blueButtons1
{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 295px;
    left: 49px;
    
}

div#blueButtons2
{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 335px;
    left: 49px;
}

div.blueButton
{
    height: 35px;
    width : 45px;
    background-color: #307bfb;
    float: left;
    margin-right: 7px;
    padding: px 0;
    border-radius: 10px;
    background: linear-gradient(top, #307bfb 0%, #0530e5 80%);	
    box-shadow: -1px 2px #001c91;
    color: #000;
    font-size: 1.2em;
    text-align: center;
}

/*  ========================================================================================================= */
/*start css das modal status  */

h3{
    font-family: 'VT323', monospace;
    text-align: center;
}

/* Modal das estatíscas */
div#stats
{
    height: 450px;
    width: 450px;
    padding: 10px;
    background-color: #30da0c;
    font-size: 15px;
    font-family: arial, sans-serif;
    position: absolute;
    top: 130px;
    left: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #003300 inset;
    transition-duration: 1s;
    z-index: 2;
    display: none;
}

#stats div > pre{
    font-size: 16px;
}
/*====================================================================================================*/
/* Modal main stats */
div.statsMain
{   
    height: 450px;
    width: 450px;
    padding: 10px;
    background-color: #93ec81;
    font-size: 15px;
    font-family: arial, sans-serif;
    position: absolute;
    top: 130px;
    left: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #003300 inset;
    transition-duration: 1s;
    z-index: 2;
    display: none;
}

#box1 .row .col{
    background: url(../images/background/pokemon-battle.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 450px;
}

#box1 .row .col .catch{
    position: absolute;
    top: 180px;
    left: 287px;
}
#box1 .row .col .pokeball{
    position: absolute;
    top: 300px;
    left: 110px;
}

/*====================================================================================================*/
/* Modal Search */
.mainData div > span{
    padding-right: 2%;
}
.mainData{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*====================================================================================================*/
/* Botão que retorna das estatíscas */
#yellowTriangleS {
    position: absolute;
    margin: 10% 90%;
    width: 0; 
    height: 0; 
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;  
    border-right:22px solid black; 
    cursor: pointer;
}  

/* Mostra as estatíscas do pokemon */
.descriptionS{
    display: inline-block;
    position: absolute;
    top:30vh;
    right:2vh;
    box-shadow: -.5vh .5vh 0vh .5vh rgba(0, 0, 0, 0.3) inset;
    background: black;
    height: 25vh;
    text-align: center;
    width:38vh;
    font-family: 'VT323', monospace;
    font-size: 3vh;
    color: #30da0c;
    border-radius: 1vh;
  }

  .descriptionS:before{
    content:"";
    width:100%;
    left: 0;
    height: .5vh;
    background: gray;
    opacity: .5;
    position: absolute;
    margin-top: 5vh;
  }

  .descriptionS p{
    margin-top: 0vh;
    margin-left: 2vh;
  }

/* ============================================================================================================ */
/* Css da modal de pokemons com maior ataque */

.modalPokedex{
    height: 500px;
    width: 500px;
    background-color: #7e9cc4;
    font-size: 13px;
    font-family: arial, sans-serif;
    position: absolute;
    bottom: -200px;
    left: -280px;
    border-radius: 15px;
    box-shadow: 0 0 20px #5c6ebd inset;
    transition-duration: 1s;
    z-index: 1;
    display: none;
}

.boxPokvalue{
    position: absolute;
    width: 90px;
    height: 84px;
    background: #307bfb;
    border-radius: 5px;
    z-index: 1;
    display: none;
}

/* Mostra as estatíscas do pokemon */
.descriptionTotal{
    /* display: inline-block;
    position: absolute;
    top: 45vh;
    right: 8vh; */
    box-shadow: -.5vh .5vh 0vh .5vh rgba(0, 0, 0, 0.3) inset;
    background: black;
    /* height: 18vh;
    width:60vh; */
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2.5vh;
    color: #30da0c;
    border-radius: 1vh;
}

.descriptionTotal:before{
    content:"";
    width:90%;
    left: 18px;
    height: .5vh;
    background: gray;
    opacity: .5;
    position: absolute;
    margin-top: 5vh;
}

/* Botão que retorna dos seis pokemons mais fortes */
#yellowTriangleTotal {
    position: absolute;
    margin: 10% 100%;
    top: 52vh; 
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;  
    border-right:22px solid black; 
    cursor: pointer;
}

.heightText{
    text-align: center;
}

.paginationMovs ul{
    margin: 0;
    padding: 0;
}

.paginationMovs li{
    width: 100px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 5px;
    background: #c4cdda;
}

.paginationMovs li:hover{
    background: #7e9cc4;
}

.paginationMovs li a{
    text-decoration: none;
}



/* <++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++> */
/* Media screen */

@media (max-width: 770px) {

    #screen {
        width: 180px;
        left: -40px;
    }

    #front, #back, #shiny_f, #shiny_b{
        bottom: 170px;
        font-size: 0.6em;
        line-height: 5px;
        text-align: center
    }

    #front{
        left: -40px;
    }
    #back{
        left: 3px;
    }
    #shiny_f{        
        left: 49px;
    }
    #shiny_b{
        left: 94px;
    }

    #display {
        width: 158px;
    }

    #blueButtons2{
        display: none;
    }

    .btn-img{
        width: 45px;
        height: 20px;
    }

    #one{
        left: -64px;
    }

    #two {
        left: 44px;
        bottom: 0px;
    }

    .cover {
        left: -222px;
        width: 250px;
    }

    #yellowTriangleR {
        right: -120px;
        bottom: -110px;
    }
    
    .container{
        width: 430px;
    }

    /* Modal das estatíscas */
    div#stats
    {
        top: 130px;
        left: -160px;
    }

    div.statsMain {
        top: 130px;
        left: -160px;
    }

    .blackTriangle {
        right: 5px;
        bottom: -8px;
    }

    .modalPokedex{
        height: 478px;
        width: 427px;
        bottom: -190px;
        left: -500px;
    }

    .descriptionP{
        height: 22vh;
        width: 54vh;
        
    }
}

@media (max-width: 575px) {
    .col-eixo{
        background: linear-gradient(to top,#DC0A2D,#DC0A2D, tomato,#DC0A2D,#89061C 90%);  
        height: 5vh;
    }

    .col-eixo:before {
        bottom: 0vh;
        border-left: .3vh solid #89061C;
        border-right: .3vh solid #89061C;
        right: 48vh;
        background: linear-gradient(to top, #89061C, #DC0A2D, tomato, #DC0A2D, #89061C);
        height: 5vh;
        width: 4.8vh;
        z-index: 1; 
    }

    .col-eixo:after {
        bottom: 0vh;
        border-left: .3vh solid #89061C;
        border-right: .3vh solid #89061C;
        right: 12vh;
        background: linear-gradient(to top, #89061C, #DC0A2D, tomato, #DC0A2D, #89061C);
        height: 5vh;
        width: 4.8vh;
        z-index: 1;
    }

    .cover{
        left: 17px;
        bottom: 400px;
        height: 398px;
        width: 429px;
        display: block;
        background: linear-gradient(to top, #DC0A2D, #DC0A2D, tomato, #DC0A2D, #89061C 90%);
         
    }

    #screen {
        width: 200px;
        left: 0px;
    }

    #front, #back, #shiny_f, #shiny_b{
        left: 200px;
        font-size: 0.7em;
        text-align: center
    }
    #front{
        bottom: 120px;
    }
    #back{
        bottom: 90px;
    }
    #shiny_f{        
        bottom: 60px;
    }
    #shiny_b{
        bottom: 30px;
    }

    #display {
        width: 178px;
    }

    #blueButtons2{
        display: block;
    }

    .btn-img{
        width: 50px;
        height: 40px;
    }

    #one{
        left: -10px;
    }

    #two {
        left: 100px;
        bottom: 0px;
    }

    #yellowTriangleR {
        right: 0px;
        bottom: 0px;
    }

    .container{
        width: 430px;
    }

    div#stats {
        top: 550px;
        left: -300px;
        width: 433px;
    }

    .modalPokedex{
        height: 370px;
        width: 410px;
        bottom: -470px;
        left: -628px;
    }
    #yellowTriangleTotal {
        top: 270px;
        left: -22px;
    }

    div.statsMain {
        top: 550px;
        left: -300px;
        width: 433px;
    }

    .blackTriangle {
        right: 5px;
        bottom: -8px;
    }

    .pok{
        left: 0;
        background-color: rgb(96, 141, 180);
        margin: 8px;
    }

    #boxPokStrongs{
        width: 400px;
    }

    .descriptionTotal{
        display: none;
    }

    .descriptionP{
        height: 22vh;
        width: 54vh;
        
    }
}

@media (max-width: 360px) {
    .col-eixo{
        background: linear-gradient(to top,#DC0A2D,#DC0A2D, tomato,#DC0A2D,#89061C 90%);  
        height: 5vh;
    }

    .col-eixo:before {
        bottom: 0vh;
        border-left: .3vh solid #89061C;
        border-right: .3vh solid #89061C;
        right: 40vh;
        background: linear-gradient(to top, #89061C, #DC0A2D, tomato, #DC0A2D, #89061C);
        height: 5vh;
        width: 4.8vh;
        z-index: 1; 
    }

    .col-eixo:after {
        bottom: 0vh;
        border-left: .3vh solid #89061C;
        border-right: .3vh solid #89061C;
        right: 10vh;
        background: linear-gradient(to top, #89061C, #DC0A2D, tomato, #DC0A2D, #89061C);
        height: 5vh;
        width: 4.8vh;
        z-index: 1;
    }


    #screen {
        width: 200px;
        left: 0px;
    }

    #front, #back, #shiny_f, #shiny_b{
        left: 200px;
        font-size: 0.7em;
        text-align: center
    }
    #front{
        bottom: 120px;
    }
    #back{
        bottom: 90px;
    }
    #shiny_f{        
        bottom: 60px;
    }
    #shiny_b{
        bottom: 30px;
    }

    #display {
        width: 178px;
    }

    #blueButtons2{
        display: block;
    }

    .btn-img{
        width: 50px;
        height: 40px;
    }

    #one{
        left: -10px;
    }

    #two {
        left: 100px;
        bottom: 0px;
    }

    #yellowTriangleR {
        right: 0px;
        bottom: 0px;
    }
    
    .cover{
        left: 17px;
        bottom: 400px;
        height: 398px;
        width: 358px;
        display: block;
        background: linear-gradient(to top, #DC0A2D, #DC0A2D, tomato, #DC0A2D, #89061C 90%);
         
    }
    .container{
        width: 360px;
        margin-left: 20px;
        margin-bottom: 50px;
    }

    div#stats {
        top: 550px;
        left: -300px;
        width: 359px;
        height: 400px;
    }

    div#stats .descriptionS {
        height: 25vh;
        width: 25vh;
    }

    div#stats #yellowTriangleS {
        bottom: -35px;
    }

    .modalPokedex{
        height: 415px;
        width: 375px;
        bottom: -481px;
        left: -650px;
    }

    .blackTriangle {
        right: 5px;
        bottom: 32px;
    }

    #yellowTriangleTotal {
        top: 324px;
        left: -23px;    
    }

    div.statsMain {
        top: 532px;
        left: -300px;
        width: 359px;
        height: 400px;
    }

    .pok{
        left: 0;
        background-color: rgb(96, 141, 180);
        margin: 8px;
    }

    #boxPokStrongs{
        width: 400px;
    }

    .descriptionTotal{
        display: none;
    }
    
    .descriptionP{
        height: 22vh;
        width: 43vh;

    }

    .typesData{
        display: none;
    }
} 





